<div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 style="font-size: 30px;">O Neil</h1>
      <span class="menu-spacer" style="margin-left: 30px;"></span>
      <div>
        <a mat-button [routerLink]="'/HOME'"> HOME </a>
        <a mat-button [routerLink]="'/REGISTER PROJECT'"> REGISTER PROJECT </a>
        <a mat-button [routerLink]="'/JOBS'"> JOBS </a>
        <a mat-button [routerLink]="'/FILES'"> FILES </a>
      </div>
      <span class="example-spacer"></span>
        <a mat-button [routerLink]="'/create-activity'"> LOGIN </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 30px; margin: auto;">Data Analytics</span>
    </mat-toolbar-row>
</mat-toolbar>

</div>

